* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color:antiquewhite;
}

html, body {
    height: 80vh;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
}

main {
    display: grid;
    grid-template-areas:
        "portfolio map";
    grid-template-columns: 1fr 1fr;
    grid-area: main;
}

header h1 {
    color: black;
    text-shadow: 1px 1px 2px gray;
    text-align: center;
    background-color: rgb(207, 206, 203);
    border-radius: 20px;
    padding-bottom:40px;
    padding-top: 40px;
    padding-left: 150px;
    padding-right: 150px;
}

header p{
    margin-top: 30px;
    font-weight: bold;

}

.name {
    color:#346084;
    background-color: rgb(207, 206, 203);
    text-shadow: 1px 1px 2px gray;
    text-align: center;
}

#Mandarinbutton {
    background-color: rgb(97, 170, 204);
    color: white;
    border-radius: 20px;
    height: 80px;
    width: 300px;
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer

}

#Cantonesebutton{
    background-color: cadetblue;
    color: white;
    border-radius: 20px;
    height: 80px;
    width: 300px;
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
}

#Bothbutton{
    background-color: rgb(4, 65, 130);
    color: white;
    border-radius: 20px;
    height: 80px;
    width: 300px;
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer

}

.portfolio {
    grid-area: portfolio;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map {
    grid-area: map;
    height: 80vh;
    margin-top: 20px;
}

.legend {
    width: 120px;
    padding: 2px;
    background: white;
    box-sizing: border-box;
}

.legend-title {
    font-size: 12px;
    margin-bottom: 1px;
}

.legend-gradient {
    display: block;
    width: 100%;
    height: 12px;
    margin-top: 1px;
    background: linear-gradient(
        to right,
        #ed4209,
        #ef8d0c,
        #eaea11,
        #01d954
    );
}

.legend-labels {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

#footer {
    grid-area: footer;
    padding: 5px;
    background-color: #4677a0;
    color: #fff;
    text-align: center;
}

#contents{
    display:grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid cornflowerblue;
    border-radius: 5px; /*how rounded is button */
    background-color: white;
    min-height: 5rem;
    min-width:7rem;
    padding:10px;
    margin-right:35px;
    margin-left:35px;

}


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
 /* z-index: 9999;
  position: relative; */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

